# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs & reports
*.log
*.txt
*.json

# IDE / editor files
.vscode/
.idea/
*.swp
.DS_Store

# Checkpoints
*.checkpoint
